language = "python"
run = "python main.py"

[packager]
language = "python"

[packager.features]
packageSearch = true
guessImports = true

[nix]
channel = "stable-22_11"

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "run.sh"]
